	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;会場案内</span>
	</div>

	<article class="onerow">
		<section class="col8" style="padding-top:10px;">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11656.986475573289!2d141.34310505288366!3d43.078310263374405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbdfb4b89d4c7625f!2z5YyX5rW36YGT5aSn5a2m5aSn5a2m6Zmi5Yy75a2m56CU56m256eR5Yy75a2m6YOo5Zuz5pu46aSo!5e0!3m2!1sja!2sjp!4v1394763819331" width="100%" height="500" frameborder="0" style="border:0"></iframe>
		</section>
		<section class="col4 last">
			<div class="info">
				<h3>交通機関のご案内</h3>
				<dl>
					<dt>JR線</dt>
					<dd>札幌駅から徒歩約20分</dd>
					<dt>地下鉄南北線</dt>
					<dd>北12条駅から徒歩約10分</dd>
					<dd>北18条駅から徒歩約10分</dd>
					<dt>地下鉄東豊線</dt>
					<dd>北13条東駅から徒歩約15分</dd>
				</dl>
			</div>
			<div class="info">
				<h3>会場内のご案内</h3>
				<ul>
					<li><a href="">会場地図（PDF）</a></li>
				</ul>
			</div>
		</section>
	</article>
