	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;救急部門</span>
	</div>

	<article class="onerow">

		<section class="col12">
			<div class="festival-wrapper">
				<h1>ドクヘリがやってくる！</h1>
				<img src="images/1_drheli.jpg" alt="ドクターヘリ見学会">
				<p>絶体絶命のピンチ、刻一刻を争う現場…<br>ドクターヘリはそんな現場に急行します。<br>救いたい命があるから。救わなければならない命があるから。<br>ドクターヘリは、命と希望を最速で運ぶ使命を担っています。</p>
				<p>そんなドクターヘリが遂に医学展にやってきます！！！</p>
				<p><span style="color:#ff4500;">ドクヘリに乗ってみよう！<br>ドクヘリとツーショットを撮ろう！<br>ドクヘリで空を飛ぼう！（←これは無理笑）</span></p>
				<p>ドクターヘリは救急医療の要であり、北海道のように広大な地域では必須の存在です。<br>今回、医学展では手稲渓仁会病院、中日本航空、北大病院救急部の全面協力のもと、<br>ドクターヘリを誘致し、医学展にご来場いただいた皆様に完全開放します！！！</p>
				<p>ぜひ医学展でドクターヘリの勇姿をご覧ください！ご搭乗もできます！</p>
				<p>そして、もしお子様がドクヘリで空を飛びたいと言ったときには、<br>ぜひ北大医学部の門を叩かせてあげてください。<br>私たちはその夢を全力で応援するとともに、<br>そんな夢を抱いてもらえるように日々精進していく所存です。</p>
				<p>では、皆様とドクヘリと医学展でお会いできる日を心より楽しみにしております。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>時間未定 医学部 噴水前</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>時間未定 医学部 噴水前</dd>
					<dd>※時間は決定次第お知らせ致します。</dd>
					<dd>※緊急の出動時には、医学展スタッフの指示にしたがって速やかにドクターヘリよりお離れください。</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>民間救急車がやってくる！</h1>
				<img src="images/1_ambulance.jpg" alt="民間救急車の見学">
				<p>北海道で活躍する民間救急車が医学展にやってきます！</p>
				<p><span style="color:#ff4500;">消防署の救急車とどう違うの？<br>救急車の中ってどうなってるの？<br>救急車に乗ってみたい！</span></p>
				<p>そんな疑問・要望にお応えします！お気軽にお立ち寄りください！</p>
				<p>救急車の適正利用、そして民間救急車の存在とその凄さを知っていただければ幸いです。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>時間未定 医学部 噴水周辺</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>時間未定 医学部 噴水周辺</dd>
					<dd>※時間は決定次第お知らせ致します。</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>心肺蘇生講習</h1>
				<img src="images/1_cpr.jpg" alt="心肺蘇生講習">
				<p>ある日、突然目の前で人が倒れた…。<br>こんな場面に出会う可能性は誰にでもあります。<br>交通事故、通勤ラッシュの時、スポーツの大会、レクリエーションで出掛けた時…</p>
				<p>そんな時、意識を失った人を助けることができるのは、<br>そばにいない医師ではなく、そばにいるあなたです。<br>あなたにしかできないことです。<br>あなただからこそ、できることです。<br>心肺蘇生とAEDによる適切な初期救急を行うことで、蘇生率をあげることができます。</p>
				<p>今日では、医療技術の発達とAEDの普及によって、多くの突然死を防いでいます。<br>しかし、人を救うのは高度な医療技術でも機械でもありません。<br><span style="color:#ff4500;">人を救うのは人であって、あなたのほんの少しの勇気と心肺蘇生の経験なのです。</span></p>
				<p>救急医療チームでは、しっかりとした事前研修を行い、<br>万全の態勢で心肺蘇生講習会を開催します！<br>様々な応急処置の手法も実演を交えてご紹介いたします。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>9：00～16：30 医学部図書館 2階</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>献血のお願い</h1>
				<img src="images/1_db.jpg" alt="献血のお願い">
				<p>献血にご協力をお願い致します。</p>
				<p>科学が進歩した現代においても、人工血液をつくることは極めて困難です。<br><span style="color:#ff4500;">輸血は多くの方々の献血によって支えられている医療です。</span></p>
				<p>お時間がありましたら、お気軽に立ち寄って頂けますと大変助かります。<br>献血して頂いた皆様には、粗品を献上しております。<br>どうぞ宜しくお願い致します。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>時間未定 医学部 噴水周辺</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>時間未定 医学部 噴水周辺</dd>
					<dd>※時間は決定次第お知らせ致します。</dd>
				</dl>
			</div>
		</section>

	</article>