	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;科学体験教室</span>
	</div>

	<article class="onerow">

		<section class="col12">
			<div class="festival-wrapper">
				<h1>肺の模型を作ろう！</h1>
				<img src="images/2_lung_model.jpg" alt="肺の模型を作ろう！">
				<p><span style="color:#ff4500;">手軽な工作を楽しんで、肺の仕組みを学ぼう！</span><br>昨年から始まった大好評企画を今年もやります！</p>
				<p>肺の仕組みとよく似ているモデルを、ペットボトルを使って10分で作ります！<br>作った肺の模型は記念にお持ち帰りいただけます。<br>（※持ち物は不要です。すべて医学展で用意しています。）</p>
				<p>「息を吸う・息を吐く」とは、どういうことなのか分かりやすく説明します。<br>完成した肺モデルでも、空気が移動する仕組みが実感できて、<br>ちょっぴり手を動かして学べて、とっても面白いですよ！</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>10：00～17：30 フラテ会館 大研修室</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>9：00～16：30 フラテ会館 大研修室</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>味覚の不思議</h1>
				<img src="images/2_taste.jpg" alt="味覚の不思議">
				<p><span style="color:#ff4500;">レモンが甘くなって、砂糖の甘さがなくなる！？</span></p>
				<p>摩訶不思議な食べ物「ミラクルフルーツ」と「ギムネマ茶」を試食！！！<br>味覚の不思議さとともに、味覚の大切さも感じられる企画です。</p>
				<p>ちなみに、ミラクルフルーツは前田あっちゃんも食べてます！</p>
				<p><iframe src="http://instagram.com/p/gb8QbDiYgC/embed/" width="306" height="355" frameborder="0" scrolling="no" allowtransparency="true"></iframe></p>
				<p>↑あっちゃんの公式インスタグラムより。</p>
				<p>なぜ味が変わるの？ダイエットにも使える？<br>そんな素朴な疑問にも医学展スタッフが丁寧にお答えします！</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>10：00～17：30 フラテ会館 大研修室</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>9：00～16：30 フラテ会館 大研修室</dd>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>脳波で遊ぼう！</h1>
				<img src="images/2_bmi.jpg" alt="脳波で遊ぼう！">
				<p>脳波を検出して遊ぶおもちゃを様々なバリエーションでご用意しています！</p>
				<p>集中したり、ぼんやりしたりして楽しむおもちゃ！？<br>人は不思議なもので、何も考えないようにしようとすると<br>考え事をしてしまったり、逆に集中しようとするとできなかったり。<br><span style="color:#ff4500;">思いのほか難しくて、笑いの漏れるおもちゃです。</span></p>
				<p>小さなお子様から年配の方まで、老若男女みなが楽しめるおもちゃですので、<br>ぜひ医学展に遊びに来てください！！！</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>10：00～17：30 フラテ会館 大研修室</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>9：00～16：30 フラテ会館 大研修室</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper">
				<h1>細胞を顕微鏡で見よう！</h1>
				<img src="images/2_cell.jpg" alt="細胞を顕微鏡で見よう！">
				<p>人の体は、約60兆個の細胞からできていると言われています。<br>この企画では、細胞を取り出し、染色し、顕微鏡で観察します。<br><span style="color:#ff4500;">神秘的で奥の深い細胞の世界をのぞくと、そこには……！？</span></p>
				<p>細胞という小さな存在に想いを馳せてみませんか？</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#00f;font-weight:bold;">6/7（土）</span>10：00～17：30 フラテ会館 大研修室</dd>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>9：00～16：30 フラテ会館 大研修室</dd>
				</dl>
			</div>
		</section>

	</article>
