<div id="breadcrumb" class="onerow">
  <span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;コラボ企画</span>
</div>

<article class="onerow">

  <section class="col12">
    <div class="festival-wrapper" id="hospital">
      <h1>ぬいぐるみ病院</h1>
      <img src="images/7_hospital.jpg" alt="ぬいぐるみ病院">
      <p>国際医療系団体IFMSA（イフムサ）JAPANの一部門SCOPH（スコフ）と医学展の夢のコラボ企画！</p>
      <p>ぬいぐるみを使って「お医者さんごっこ」をすることで<br>子どもたちの病院に対する恐怖感を和らげるとともに、<br>「お医者さん」について知ってもらえたらと考えております。</p>
      <p><span class="point">ネギちゃんのように可愛いぬいぐるみを沢山ご用意しております。</span><br>お子さんとともに是非お越しください。</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 フラテ会館 大研修室</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 フラテ会館 大研修室</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="international">
      <h1>国際連携室の展示</h1>
      <img src="images/7_international.jpg" alt="国際連携室の展示">
      <p>詳細未定</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="curry">
      <h1>東医研カレー</h1>
      <img src="images/7_curry.jpg" alt="東医研カレー">
      <p>北大東洋医学研究会と医学展の夢のコラボ企画！</p>
      <p>近年ますます関心が高まっている漢方医学に親しむことができる、<br>東洋医学研究会の研究発表に乞うご期待！<br>気？血？水？なにそれ？？？なんの話？<br>葛根湯って風邪に効くよね？本当はどんな風邪に効くの！？<br>少しだけ漢方医学に詳しくなれます！</p>
      <p>そして、毎年恒例の大人気企画『東医研カレー』を今年も振る舞います！<br>初めての方にも、リピーターの方にも、この本場の味を届けたい！！！<br><span class="point">ミルクで割ったチャイとともに、スパイスの心地良く効いた薬膳カレーをどうぞ！</span></p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 3階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 3階</dd>
        <dd>※カレー、チャイは毎年完売しておりますので、お早めにお越しくださいませ。</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="scora">
      <h1>SCORA企画</h1>
      <img src="images/7_scora.jpg" alt="SCORA企画">
      <p>国際医療系団体IFMSA（イフムサ）JAPANの一部門SCORA（スコラ）と医学展の夢のコラボ企画！</p>
      <p>内容は当日までひ・み・つ！</p>
      <p><span class="point">「お・も・て・な・し」の心で、丁寧に創り上げます。「お・た・の・し・み」に！</span></p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 3階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 3階</dd>
      </dl>
    </div>
    <hr>
  </section>

</article>

	<article class="onerow">
		<section class="col12">
			<div class="festival-wrapper">
				<h1>医学部前メインストリートの模擬店</h1>
				<p>医学部前のメインストリートには、医学展と医学部系部活のコラボ企画として模擬店が並びます。<br>北側から順に卓球部・水泳部・ハンド部・バド部です。お気軽にお立ち寄りください。</p>
			</div>
		</section>
	</article>
	<article class="onerow">
		<div class="mainstreet">
			<section class="col3">
				<span>【部活】<br>北大医学部卓球部</span>
			</section>
			<section class="col3">
				<span>【店名】<br>キンキンに冷えてやがる…！</span>
			</section>
			<section class="col3">
				<span>【品目】<br>かき氷</span>
			</section>
			<section class="col3 last">
				<span>【日時】<br>6/7(土)&ensp;9:00-17:00<br>6/8(日)&ensp;9:00-17:00</span>
			</section>
		</div>
	</article>
	<article class="onerow">
		<div class="mainstreet">
			<section class="col3">
				<span>【部活】<br>北海道大学医学部水泳部</span>
			</section>
			<section class="col3">
				<span>【店名】<br>嵐を呼ぶ！W山ちゃんのうどんエクスプレス</span>
			</section>
			<section class="col3">
				<span>【品目】<br>かきあげうどん、きつねうどん、ざるうどん、釜玉うどん、かけうどん</span>
			</section>
			<section class="col3 last">
				<span>【日時】<br>6/8(日)&ensp;9:00-17:00</span>
			</section>
		</div>
	</article>
	<article class="onerow">
		<div class="mainstreet">
			<section class="col3">
				<span>【部活】<br>北大医学部ハンドボール部</span>
			</section>
			<section class="col3">
				<span>【店名】<br>ホルモンと焼きそば</span>
			</section>
			<section class="col3">
				<span>【品目】<br>ホルモン焼き、ホルモン焼きそば、焼きそば</span>
			</section>
			<section class="col3 last">
				<span>【日時】<br>6/5(木)12:00-22:00<br>6/6(金)&ensp;9:00-22:00<br>6/8(日)&ensp;9:00-17:00</span>
			</section>
		</div>
	</article>
	<article class="onerow">
		<div class="mainstreet">
			<section class="col3">
				<span>【部活】<br>北海道大学医学部バドミントン部</span>
			</section>
			<section class="col3">
				<span>【店名】<br>あいすキュウリ</span>
			</section>
			<section class="col3">
				<span>【品目】<br>きゅうりの一本漬け</span>
			</section>
			<section class="col3 last">
				<span>【日時】<br>6/7(土)&ensp;9:30-18:00<br>6/8(日)&ensp;9:30-17:00</span>
			</section>
		</div>
	</article>
