	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;企画のご紹介</span>
	</div>

	<article class="onerow">
		<div class="col12">
			<section id="options" class="clearfix combo-filters">
				<div class="info">
					<p>全<strong>21</strong>企画を時間・部門・会場ごとにお選びいただけます。</p>
					<div class="option-combo time">
						<h4>時間</h4>
						<ul class="filter option-set clearfix " data-filter-group="time"> 
							<li><a href="#filter-time-any" data-filter-value="" class="selected">全時間</a>
							<li><a href="#filter-time-limited" data-filter-value=".limited">時間限定</a>
							<li><a href="#filter-time-always" data-filter-value=".always">終日</a>
						</ul>
					</div>
					<div class="option-combo department">
						<h4>部門</h4>
						<ul class="filter option-set clearfix " data-filter-group="department"> 
							<li><a href="#filter-department-any" data-filter-value="" class="selected">全部門</a>
							<li><a href="#filter-department-d1" data-filter-value=".d1">救急部門</a>
							<li><a href="#filter-department-d2" data-filter-value=".d2">科学体験教室</a>
							<li><a href="#filter-department-d3" data-filter-value=".d3">検査部門</a>
							<li><a href="#filter-department-d4" data-filter-value=".d4">ハンディキャップ部門</a>
							<li><a href="#filter-department-d5" data-filter-value=".d5">講演会</a>
							<li><a href="#filter-department-d6" data-filter-value=".d6">特別企画</a>
							<li><a href="#filter-department-d7" data-filter-value=".d7">コラボ企画</a>
						</ul>
					</div>
					<div class="option-combo area">
						<h4>会場</h4>
						<ul class="filter option-set clearfix " data-filter-group="area"> 
							<li><a href="#filter-area-any" data-filter-value="" class="selected">全会場</a>
							<li><a href="#filter-area-waterfall" data-filter-value=".waterfall">噴水</a>
							<li><a href="#filter-area-frate" data-filter-value=".frate">フラテ会館</a>
							<li><a href="#filter-area-library" data-filter-value=".library">医学部図書館</a>
						</ul>
					</div>
					<div class="option-combo area">
						<h4>説明</h4>
						<ul class="filter option-set clearfix " data-filter-group="description"> 
							<li><a href="#filter-description-any" data-filter-value="" class="selected">説明ON</a>
							<li><a href="#filter-description-photo" data-filter-value=".photo">説明OFF</a>
						</ul>
					</div>
				</div>
			</section> <!-- #options -->

			<section id="container" class="clearfix">

				<div class="igakuten-festival waterfall d1 limited photo"><img src="images/1_drheli.jpg" alt="ドクターヘリ見学会"></div>
				<div class="igakuten-festival waterfall d1 limited"><p>説明</p></div>

				<div class="igakuten-festival waterfall d1 limited photo"><img src="images/1_ambulance.jpg" alt="民間救急車の見学"></div>
				<div class="igakuten-festival waterfall d1 limited"><p>説明</p></div>

				<div class="igakuten-festival library d1 always photo"><img src="images/1_cpr.jpg" alt="心肺蘇生講習"></div>
				<div class="igakuten-festival library d1 always"><p>説明</p></div>

				<div class="igakuten-festival waterfall d1 limited photo"><img src="images/1_db.jpg" alt="献血のお願い"></div>
				<div class="igakuten-festival waterfall d1 limited"><p>説明</p></div>

				<div class="igakuten-festival frate d2 always photo"><img src="images/2_lung_model.jpg" alt="肺の模型を作ろう！"></div>
				<div class="igakuten-festival frate d2 always"><p>説明</p></div>

				<div class="igakuten-festival frate d2 always photo"><img src="images/2_taste.jpg" alt="味覚の不思議"></div>
				<div class="igakuten-festival frate d2 always"><p>説明</p></div>

				<div class="igakuten-festival frate d2 always photo"><img src="images/2_bmi.jpg" alt="脳波で遊ぼう！"></div>
				<div class="igakuten-festival frate d2 always"><p>説明</p></div>

				<div class="igakuten-festival frate d2 always photo"><img src="images/2_cell.jpg" alt="細胞を顕微鏡で見よう！"></div>
				<div class="igakuten-festival frate d2 always"><p>説明</p></div>

				<div class="igakuten-festival library d3 always photo"><img src="images/3_heart.jpg" alt="心臓の検査"></div>
				<div class="igakuten-festival library d3 always"><p>説明</p></div>

				<div class="igakuten-festival library d3 always photo"><img src="images/3_lung.jpg" alt="肺の検査"></div>
				<div class="igakuten-festival library d3 always"><p>説明</p></div>

				<div class="igakuten-festival library d3 always photo"><img src="images/3_eye.jpg" alt="目の検査"></div>
				<div class="igakuten-festival library d3 always"><p>説明</p></div>

				<div class="igakuten-festival library d3 always photo"><img src="images/3_five.jpg" alt="5年生企画"></div>
				<div class="igakuten-festival library d3 always"><p>説明</p></div>

				<div class="igakuten-festival waterfall d4 limited photo"><img src="images/4_dog.jpg" alt="盲導犬講習"></div>
				<div class="igakuten-festival waterfall d4 limited"><p>説明</p></div>

				<div class="igakuten-festival library d4 always photo"><img src="images/4_sound.jpg" alt="聴覚体験"></div>
				<div class="igakuten-festival library d4 always"><p>説明</p></div>

				<div class="igakuten-festival waterfall d4 limited photo"><img src="images/4_wheelchair.jpg" alt="車いす体験"></div>
				<div class="igakuten-festival waterfall d4 limited"><p>説明</p></div>

				<div class="igakuten-festival frate d5 limited photo"><img src="images/5_lecture.jpg" alt="田中教授無料講演会"></div>
				<div class="igakuten-festival frate d5 limited"><p>説明</p></div>

				<div class="igakuten-festival frate d7 always photo"><img src="images/7_hospital.jpg" alt="ぬいぐるみ病院"></div>
				<div class="igakuten-festival frate d7 always"><p>説明</p></div>

				<div class="igakuten-festival library d7 always photo"><img src="images/7_international_cafe.jpg" alt="国際カフェ"></div>
				<div class="igakuten-festival library d7 always"><p>説明</p></div>

				<div class="igakuten-festival library d7 always photo"><img src="images/7_curry.jpg" alt="東医研カレー"></div>
				<div class="igakuten-festival library d7 always"><p>説明</p></div>

				<div class="igakuten-festival library d7 always photo"><img src="images/7_scora.jpg" alt="SCORA企画"></div>
				<div class="igakuten-festival library d7 always"><p>説明</p></div>

				<div class="igakuten-festival waterfall frate library d6 always photo"><img src="images/6_stamps.jpg" alt="スタンプラリー"></div>
				<div class="igakuten-festival waterfall frate library d6 always"><p>説明</p></div>

			</section><!-- #container -->
		</div>
	</article>

<script>
  $(function(){
    
    var $container = $('#container'),
        filters = {};

    $container.isotope({
      itemSelector : '.igakuten-festival',
      mansory: {
        columnWidth: 80
      }
    });

    // filter buttons
    $('.filter a').click(function(){
      var $this = $(this);
      // don't proceed if already selected
      if ( $this.hasClass('selected') ) {
        return;
      }
      
      var $optionSet = $this.parents('.option-set');
      // change selected class
      $optionSet.find('.selected').removeClass('selected');
      $this.addClass('selected');
      
      // store filter value in object
      // i.e. filters.color = 'red'
      var group = $optionSet.attr('data-filter-group');
      filters[ group ] = $this.attr('data-filter-value');
      // convert object into array
      var isoFilters = [];
      for ( var prop in filters ) {
        isoFilters.push( filters[ prop ] )
      }
      var selector = isoFilters.join('');
      $container.isotope({ filter: selector });

      return false;
    });
  });
</script>