<div id="breadcrumb" class="onerow">
  <span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;検査部門</span>
</div>

<article class="onerow">

  <section class="col12">
    <div class="festival-wrapper" id="heart">
      <h1>心臓の検査</h1>
      <img src="images/3_heart.jpg" alt="心臓の検査">
      <p>医療ドラマでよく見かけるあの名シーン。<br>実際に体験してみませんか？</p>
      <p><span class="point">心電図検査と心エコーを体験できます。</span></p>
      <p>どうやって検査するの？どういう仕組みなの？お値段は？などなど<br>普段、病院では尋ねにくい素朴な疑問に分かりやすくお答えします！</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="lung">
      <h1>肺の検査</h1>
      <img src="images/3_lung.jpg" alt="肺の検査">
      <p><span class="point">肺活量を測定できます。</span><br>スパイロメータによる検査を体験できます。<br>肺活量に自信のある方も、自信のない方も、ぜひチャレンジしてみてください！</p>
      <p>また、呼吸器系の病気についても解説します。<br>最近急増しているCOPDって、いったい何なのでしょうか？？</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="metabolism">
      <h1>健康生活</h1>
      <img src="images/3_metabolism.jpg" alt="健康生活">
      <p>あなたは健康に生活していますか？</p>
      <p>体内の老化には意外と気づかない！？</p>
      <p><span class="point">血管年齢・骨密度を測定してみましょう！</span></p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="five">
      <h1>お医者さん体験＆健康相談</h1>
      <img src="images/3_five.jpg" alt="5年生企画">
      <p><span class="point">例年行っていた血圧測定・健康相談に加え、今年は聴診体験・糸結び体験という新企画を行います！</span></p>
      <p>聴診器って、どんな音が聞こえるの？傷を縫うとき、糸はどうやって結ぶの？</p>
      <p>ちょっとだけ、お医者さんの気持ちを味わってみましょう！</p>
      <p>※この企画では主に5年生がお相手いたします。</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
  </section>

</article>
