	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;企画のご紹介</span>
	</div>

	<article class="onerow">
		<div class="col12">
			<section id="options" class="clearfix combo-filters">
				<div class="igakun">
					<p>医学展は全<strong>21</strong>企画をご用意しております。気になる企画をチェック！</p>
					<div class="option-combo time">
						<h4>時間</h4>
						<ul class="filter option-set clearfix " data-filter-group="time"> 
							<li><a href="#filter-time-any" data-filter-value="" class="selected">全時間</a>
							<li><a href="#filter-time-limited" data-filter-value=".limited">時間限定</a>
							<li><a href="#filter-time-always" data-filter-value=".always">終日</a>
						</ul>
					</div>
					<div class="option-combo department">
						<h4>部門</h4>
						<ul class="filter option-set clearfix " data-filter-group="department"> 
							<li><a href="#filter-department-any" data-filter-value="" class="selected">全部門</a>
							<li><a href="#filter-department-d1" data-filter-value=".d1">救急部門</a>
							<li><a href="#filter-department-d2" data-filter-value=".d2">科学体験教室</a>
							<li><a href="#filter-department-d3" data-filter-value=".d3">検査部門</a>
							<li><a href="#filter-department-d4" data-filter-value=".d4">ハンディキャップ部門</a>
							<li><a href="#filter-department-d5" data-filter-value=".d5">講演会</a>
							<li><a href="#filter-department-d6" data-filter-value=".d6">特別企画</a>
							<li><a href="#filter-department-d7" data-filter-value=".d7">コラボ企画</a>
						</ul>
					</div>
					<div class="option-combo area">
						<h4>会場</h4>
						<ul class="filter option-set clearfix " data-filter-group="area"> 
							<li><a href="#filter-area-any" data-filter-value="" class="selected">全会場</a>
							<li><a href="#filter-area-waterfall" data-filter-value=".waterfall">噴水</a>
							<li><a href="#filter-area-frate" data-filter-value=".frate">フラテ会館</a>
							<li><a href="#filter-area-library" data-filter-value=".library">医学部図書館</a>
						</ul>
					</div>
					<div class="option-combo area">
						<h4>説明</h4>
						<ul class="filter option-set clearfix " data-filter-group="description"> 
							<li><a href="#filter-description-any" data-filter-value="" class="selected">説明ON</a>
							<li><a href="#filter-description-photo" data-filter-value=".photo">説明OFF</a>
						</ul>
					</div>
				</div>
			</section> <!-- #options -->

			<section id="container" class="clearfix">

				<div class="igakuten-festival waterfall d1 limited photo"><a href="festival-emergency.html#drheli"><img src="images/1_drheli-ebcc3650.jpg" alt="ドクターヘリ見学会"></a></div>
				<div class="igakuten-festival waterfall d1 limited"><div><p>ついに医学展にドクヘリがやってきます！かっこいいドクヘリを近くで見よう！この貴重な機会をお見逃しなく！</p><span>日時：6/8　9：30 集合<br>場所：北大医学部 噴水前</span></div></div>

				<div class="igakuten-festival waterfall d1 limited photo"><a href="festival-emergency.html#ambulance"><img src="images/1_ambulance-c3e30124.jpg" alt="民間救急車の見学"></a></div>
				<div class="igakuten-festival waterfall d1 limited"><div><p>民間救急車のこと知ってますか？実は、さまざまなところで活躍している民間救急車が医学展にやってきます。間近で見よう！</p><span>日時：6/7・8　時間未定<br>場所：北大医学部 噴水周辺</span></div></div>

				<div class="igakuten-festival library d1 always photo"><a href="festival-emergency.html#cpr"><img src="images/1_cpr-72e05ed3.jpg" alt="心肺蘇生講習"></a></div>
				<div class="igakuten-festival library d1 always"><div><p>心肺蘇生と応急処置の講習会を開催します。もしものとき助けることができるのは、そばにいない医師ではなく、そばにいるあなたです。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 2F</span></div></div>

				<div class="igakuten-festival waterfall d1 limited photo"><a href="festival-emergency.html#db"><img src="images/1_db-ffe81248.jpg" alt="献血のお願い"></a></div>
				<div class="igakuten-festival waterfall d1 limited"><div><p>献血にご協力をお願い致します。献血して頂いた皆様には、もれなく素敵な景品をプレゼント致します。</p><span>日時：6/7　11～16時半<br>&emsp;&emsp;&emsp;6/8　11～16時<br>場所：北大医学部 噴水周辺</span></div></div>

				<div class="igakuten-festival frate d2 always photo"><a href="festival-science.html#lung_model"><img src="images/2_lung_model-d80d35c9.jpg" alt="肺の模型を作ろう！"></a></div>
				<div class="igakuten-festival frate d2 always"><div><p>ペットボトルと風船を使って肺のモデルを作ります。息を吸う・息を吐くとはどういうことなのか、一目瞭然です！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival frate d2 always photo"><a href="festival-science.html#taste"><img src="images/2_taste-0550640a.jpg" alt="味覚の不思議"></a></div>
				<div class="igakuten-festival frate d2 always"><div><p>レモンが甘くなって、砂糖の甘さがなくなる！？不思議な食べ物「ミラクルフルーツ」と「ギムネマ茶」を試食して、味覚のしくみを学ぼう！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival frate d2 always photo"><a href="festival-science.html#bmi"><img src="images/2_bmi-7bf60eed.jpg" alt="脳波で遊ぼう！"></a></div>
				<div class="igakuten-festival frate d2 always"><div><p>脳波を検出して遊ぶおもちゃをご用意しております。老若男女だれでも楽しめるおもちゃなので、ぜひ遊びに来てください！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival frate d2 always photo"><a href="festival-science.html#cell"><img src="images/2_cell-8350fb77.jpg" alt="細胞を顕微鏡で見よう！"></a></div>
				<div class="igakuten-festival frate d2 always"><div><p>自分の頬の細胞をちょっとだけ取って、染色して、顕微鏡でのぞいてみる企画です。細胞の中には、いったい何が見えるのでしょうか！？</p><span>日時：6/7・8　10～17時頃<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival library d3 always photo"><a href="festival-examination.html#heart"><img src="images/3_heart-d56cf181.jpg" alt="心臓の検査"></a></div>
				<div class="igakuten-festival library d3 always"><div><p>心エコーと心電図検査を体験できます。普段、病院では聞けないようなこともどんどんお尋ねください。丁寧にお答えいたします。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 2F</span></div></div>

				<div class="igakuten-festival library d3 always photo"><a href="festival-examination.html#lung"><img src="images/3_lung-f6697167.jpg" alt="肺の検査"></a></div>
				<div class="igakuten-festival library d3 always"><div><p>スパイロメータによる肺活量の測定を体験できます。自信のある方も、自信のない方もぜひ挑戦してみてください。呼吸器系の病気も説明いたします。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 2F</span></div></div>

				<div class="igakuten-festival library d3 always photo"><a href="festival-examination.html#eye"><img src="images/3_eye-b1e1544b.jpg" alt="目の検査"></a></div>
				<div class="igakuten-festival library d3 always"><div><p>眼科でよく行っている目の検査を体験できます。機械の中の遠くの絵を見る、あの検査、いったい何を調べているのでしょうか？</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 2F</span></div></div>

				<div class="igakuten-festival library d3 always photo"><a href="festival-examination.html#five"><img src="images/3_five-8acb5f80.jpg" alt="5年生企画"></a></div>
				<div class="igakuten-festival library d3 always"><div><p>5年生企画では、より臨床に近いものをご用意しております。本年度は、外科手技などを体験していただく予定です。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 2F</span></div></div>

				<div class="igakuten-festival waterfall d4 limited photo"><a href="festival-hc.html#dog"><img src="images/4_dog-ec19fc2a.jpg" alt="盲導犬講習"></a></div>
				<div class="igakuten-festival waterfall d4 limited"><div><p>盲導犬と歩いてみませんか？指導員の方が一から丁寧に教えてくださいます。この機会にぜひ盲導犬と触れ合ってみてください！</p><span>日時：6/7・8　時間未定<br>場所：北大医学部 噴水周辺</span></div></div>

				<div class="igakuten-festival library d4 always photo"><a href="festival-hc.html#sound"><img src="images/4_sound-3c9de3c8.jpg" alt="聴覚体験"></a></div>
				<div class="igakuten-festival library d4 always"><div><p>難聴には様々なバリエーションがあります。どのような聴こえ方なのか、簡単なキットを使って実際に聴いてみることができます！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 3F</span></div></div>

				<div class="igakuten-festival waterfall d4 limited photo"><a href="festival-hc.html#wheelchair"><img src="images/4_wheelchair-654f9ff6.jpg" alt="車いす体験"></a></div>
				<div class="igakuten-festival waterfall d4 limited"><div><p>車いすに乗って、噴水の周りのロータリーを一周してみましょう！実際に乗ってみると新鮮な驚きがあるかもしれません。</p><span>日時：6/7・8　時間未定<br>場所：北大医学部 噴水周辺</span></div></div>

				<div class="igakuten-festival frate d5 limited photo"><a href="festival-lecture.html#lecture"><img src="images/5_lecture-8e22b216.jpg" alt="田中教授無料講演会"></a></div>
				<div class="igakuten-festival frate d5 limited"><div><p>北大のがん博士こと北大医学部教授の田中伸哉先生による無料講演会です。北海道新聞の大人気連載『がんの教室』の出張版を医学展で開講します！</p><span>日時：6/8　13：30～<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival frate d7 always photo"><a href="festival-collaboration.html#hospital"><img src="images/7_hospital-1aae873f.jpg" alt="ぬいぐるみ病院"></a></div>
				<div class="igakuten-festival frate d7 always"><div><p>ぬいぐるみを使ってお医者さんごっこしよう！お子様向けの企画となっております。病院に対するイメージを和らげます。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部フラテ会館</span></div></div>

				<div class="igakuten-festival library d7 always photo"><a href="festival-collaboration.html#international_cafe"><img src="images/7_international_cafe-932ae0fc.jpg" alt="国際カフェ"></a></div>
				<div class="igakuten-festival library d7 always"><div><p>全世界から北大に集まる留学生たちが、自慢の母国料理を振る舞います！皆様と留学生、医学生の暖かな交流スペースを開きます！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館の南側</span></div></div>

				<div class="igakuten-festival library d7 always photo"><a href="festival-collaboration.html#curry"><img src="images/7_curry-dfca020f.jpg" alt="東医研カレー"></a></div>
				<div class="igakuten-festival library d7 always"><div><p>毎年恒例の名物カレーが今年も登場！ミルクで割ったチャイとともに、スパイスの心地良く効いた薬膳カレーをどうぞ！</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 3F</span></div></div>

				<div class="igakuten-festival library d7 always photo"><a href="festival-collaboration.html#scora"><img src="images/7_scora-b7a164bb.jpg" alt="SCORA企画"></a></div>
				<div class="igakuten-festival library d7 always"><div><p>国際医療系団体IFMSA（イフムサ）JAPANの一部門SCORA（スコラ）と医学展の夢のコラボ企画です。</p><span>日時：6/7・8　10～17時頃<br>場所：医学部図書館 3F</span></div></div>

				<div class="igakuten-festival waterfall frate library d6 always photo"><a href="festival-special.html#stamps"><img src="images/6_stamps-9a87dab3.jpg" alt="スタンプラリー"></a></div>
				<div class="igakuten-festival waterfall frate library d6 always"><div><p>皆様にもっと医学展を楽しんでもらうために、スランプラリーを開催します！4個集めるとレアグッズをプレゼント！</p><span>日時：6/7・8　10～17時頃<br>場所：北大医学部</span></div></div>

			</section><!-- #container -->
		</div>
	</article>

<script>
  $(function(){
    
    var $container = $('#container'),
        filters = {};

    $container.isotope({
      itemSelector : '.igakuten-festival',
      mansory: {
        columnWidth: 80
      }
    });

    // filter buttons
    $('.filter a').click(function(){
      var $this = $(this);
      // don't proceed if already selected
      if ( $this.hasClass('selected') ) {
        return;
      }
      
      var $optionSet = $this.parents('.option-set');
      // change selected class
      $optionSet.find('.selected').removeClass('selected');
      $this.addClass('selected');
      
      // store filter value in object
      // i.e. filters.color = 'red'
      var group = $optionSet.attr('data-filter-group');
      filters[ group ] = $this.attr('data-filter-value');
      // convert object into array
      var isoFilters = [];
      for ( var prop in filters ) {
        isoFilters.push( filters[ prop ] )
      }
      var selector = isoFilters.join('');
      $container.isotope({ filter: selector });

      return false;
    });
  });
</script>