	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;救急部門</span>
	</div>

	<article class="onerow">

		<section class="col12">
			<div class="festival-wrapper" id="drheli">
				<h1>ドクヘリがやってくる！</h1>
				<img src="images/1_drheli.jpg" alt="ドクターヘリ見学会">
				<p>絶体絶命のピンチ、刻一刻を争う現場…<br>ドクターヘリはそんな現場に急行します。<br>救いたい命があるから。救わなければならない命があるから。<br>ドクターヘリは、命と希望を最速で運ぶ使命を担っています。</p>
				<p>そんなドクターヘリが遂に医学展にやってきます！！！</p>
				<p><span class="point">なまらかっこいいドクヘリを近くで見よう！</span></p>
				<p>ドクターヘリは救急医療の要であり、北海道のような広大な地域では必須の存在です。<br>今回、医学展では手稲渓仁会病院、中日本航空、北大病院救急部の全面協力のもと、<br>ドクターヘリを招致し、医学展にご来場いただいた皆様にお見せ致します！！！</p>
				<p>ぜひ医学展でドクターヘリの勇姿をご覧ください！</p>
				<p>では、皆様とドクヘリと医学展でお会いできる日を心より楽しみにしております。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span class="sun">6/8（日）</span>9：30 医学部 噴水前集合、10：00 着陸予定（北大病院ヘリポート）</dd>
					<dd>※ドクターヘリの着陸時間は、出動状況によって変更になる可能性があります。当日お知らせ致します。</dd>
					<dd>※緊急の出動時には、医学展スタッフの指示にしたがって速やかにドクターヘリよりお離れください。</dd>
					<dd>※なお、当日の天候状況によってはドクターヘリが来られない場合もありますので、ご了承ください。</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper" id="ambulance">
				<h1>民間救急車がやってくる！</h1>
				<img src="images/1_ambulance.jpg" alt="民間救急車の見学">
				<p>北海道で活躍する民間救急車が医学展にやってきます！</p>
				<p><span class="point">消防署の救急車とどう違うの？<br>救急車の中ってどうなってるの？<br>民間救急車の使い方を知りたい！</span></p>
				<p>そんな疑問・要望にお応えします！お気軽にお立ち寄りください！</p>
				<p>救急車の適正利用、そして民間救急車の存在とその素晴らしさを知っていただければ幸いです。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span class="sat">6/7（土）</span>時間未定 医学部 噴水周辺</dd>
					<dd><span class="sun">6/8（日）</span>時間未定 医学部 噴水周辺</dd>
					<dd>※時間は決定次第お知らせ致します。</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper" id="cpr">
				<h1>心肺蘇生講習</h1>
				<img src="images/1_cpr.jpg" alt="心肺蘇生講習">
				<p>ある日、突然目の前で人が倒れた…。<br>こんな場面に出会う可能性は誰にでもあります。<br>交通事故、通勤ラッシュの時、スポーツの大会、レクリエーションで出掛けた時…</p>
				<p>そんな時、意識を失った人を助けることができるのは、<br>そばにいない医師ではなく、そばにいるあなたです。<br>あなたにしかできないことです。<br>あなただからこそ、できることです。<br>心肺蘇生とAEDによる適切な初期救急を行うことで、蘇生率を上げることができます。</p>
				<p>今日では、医療技術の発達とAEDの普及によって、多くの突然死を防いでいます。<br>しかし、人を救うのは高度な医療技術でも機械でもありません。<br><span class="point">人を救うのは人であって、あなたのほんの少しの勇気と心肺蘇生の経験なのです。</span></p>
				<p>救急医療チームでは、事前にしっかりとした研修を行い、<br>万全の態勢で心肺蘇生講習会を開催します！</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
					<dd><span class="sun">6/8（日）</span>9：00～16：30 医学部図書館 2階</dd>
				</dl>
				<hr>
			</div>
		</section>

		<section class="col12">
			<div class="festival-wrapper" id="db">
				<h1>献血のお願い</h1>
				<img src="images/1_db.jpg" alt="献血のお願い">
				<p>献血にご協力をお願い致します。</p>
				<p>科学が進歩した現代においても、人工血液をつくることは不可能です。<br><span class="point">輸血は多くの方々の献血によって支えられている医療です。</span></p>
				<p>お時間がありましたら、お気軽に立ち寄って頂けますと大変助かります。<br>医療機関の要請により、400mL献血でお願いしております。200mL献血は制限しています。<br>献血して頂いた皆様には、粗品を差し上げております。<br><span class="point">また、3名以上のグループでお越しの方には、特典をご用意しております（先着10組限定）。</span><br>どうぞ宜しくお願い致します。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span class="sat">6/7（土）</span>11：00～16：30 医学部 噴水周辺</dd>
					<dd><span class="sun">6/8（日）</span>11：00～16：00 医学部 噴水周辺</dd>
				</dl>
			</div>
		</section>

	</article>