<div iD="breadcrumb" class="onerow">
  <span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;コラボ企画</span>
</div>

<article class="onerow">

  <section class="col12">
    <div class="festival-wrapper" id="hospital">
      <h1>ぬいぐるみ病院</h1>
      <img src="images/7_hospital.jpg" alt="ぬいぐるみ病院">
      <p>国際医療系団体IFMSA（イフムサ）JAPANの一部門SCOPH（スコフ）と医学展の夢のコラボ企画！</p>
      <p>ぬいぐるみを使って「お医者さんごっこ」をすることで<br>子どもたちの病院に対する恐怖感を和らげるとともに、<br>「お医者さん」について知ってもらえたらと考えております。</p>
      <p><span class="point">ネギちゃんのように可愛いぬいぐるみを沢山ご用意しております。</span><br>お子さんとともに是非お越しください。</p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 2階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 2階</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="international_cafe">
      <h1>国際カフェ</h1>
      <img src="images/7_international_cafe.jpg" alt="国際カフェ">
      <p>詳細未定</p>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="curry">
      <h1>東医研カレー</h1>
      <img src="images/7_curry.jpg" alt="東医研カレー">
      <p>北大東洋医学研究会と医学展の夢のコラボ企画！</p>
      <p>近年ますます関心が高まっている漢方医学に親しむことができる、<br>東洋医学研究会の研究発表に乞うご期待！<br>気？血？水？なにそれ？？？なんの話？<br>葛根湯って風邪に効くよね？本当はどんな風邪に効くの！？<br>少しだけ漢方医学に詳しくなれます！</p>
      <p>そして、毎年恒例の大人気企画『東医研カレー』を今年も振る舞います！<br>初めての方にも、リピーターの方にも、この本場の味を届けたい！！！<br><span class="point">ミルクで割ったチャイとともに、スパイスの心地良く効いた薬膳カレーをどうぞ！</span></p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 3階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 3階</dd>
        <dd>※カレー、チャイは毎年完売しておりますので、お早めにお越しくださいませ。</dd>
      </dl>
    </div>
    <hr>
  </section>

  <section class="col12">
    <div class="festival-wrapper" id="scora">
      <h1>SCORA企画</h1>
      <img src="images/7_scora.jpg" alt="SCORA企画">
      <p>国際医療系団体IFMSA（イフムサ）JAPANの一部門SCORA（スコラ）と医学展の夢のコラボ企画！</p>
      <p>内容は当日までひ・み・つ！</p>
      <p><span class="point">「お・も・て・な・し」の心で、丁寧に創り上げます。「お・た・の・し・み」に！</span></p>
      <dl>
        <dt>日時・会場</dt>
        <dd><span class="sat">6/7（土）</span>10：00～17：30 医学部図書館 3階</dd>
        <dd><span class="sun">6/8（日）</span>9：00～16：00 医学部図書館 3階</dd>
      </dl>
    </div>
  </section>

</article>
