	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;<a href="festival.html">企画のご紹介</a>&ensp;＞&thinsp;講演会</span>
	</div>

	<article class="onerow">

		<section class="col12">
			<div class="festival-wrapper">
				<h1>田中教授無料講演会</h1>
				<img src="images/5_lecture.jpg" alt="田中教授無料講演会">
				<p>毎年大好評の講演会企画。<br>本年度は、<span style="color:#ff4500;">「北大のがん博士」こと北大医学部の田中伸哉教授</span>がご講演します！</p>
				<p>田中教授は、<span style="color:#ff4500;">腫瘍病理学がご専門で、がんに対して非常に造詣の深い</span>方です。<br><span style="color:#ff4500;">北海道新聞に連載「がんの教室」</span>を持ち、多くの愛読者がいらっしゃいます。<br>また、田中教授は毎年、<span style="color:#ff4500;">母校の札幌北高校で講演</span>を行われており、<br>田中教授の話を聴いて北大医学部を目指した学生もいるほど大人気です。</p>
				<p>北大医学部でがんを研究されている教授のお話を聴くことができる、またとない貴重な機会です。<br>完全無料で実施します。沢山の方のご来場を心よりお待ちしております。</p>
				<p>当日席もございますが、5月中旬より予約を受け付けます。<br>大変な混雑が予想されますので、ぜひご予約をお願い申し上げます。<br>予約の開始時期・方法につきましては、近日中にお知らせいたします。</p>
				<dl>
					<dt>日時・会場</dt>
					<dd><span style="color:#f00;font-weight:bold;">6/8（日）</span>13：30 開場、14：00 開始（予定） フラテ会館 フラテ大ホール</dd>
				</dl>
			</div>
		</section>

	</article>