	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;マスコット</span>
	</div>

	<article class="onerow">
		<section class="col12">
			<div class="igakun">
				<p><img src="images/igakun60x76.png" alt="いがくん">「いがくん」は昨年の第52回医学展で生まれました。<br>今年も、皆様と北大医学部をつなぐため、たくさん活躍します！<br>医学展で色々な「いがくん」と出会いましょう！</p>
			</div>
		</section>
	</article>

	<article class="onerow">
		<section class="col6">
			<div class="igakun_pr">
				<h3>1年前のまだ幼いいがくん</h3>
				<p>
					<a class="fancybox" rel="group" href="images/igakun_01a.jpg" title="いがくんの行灯"><img src="images/igakun_01b.jpg" alt="いがくんの行灯"></a>
					<a class="fancybox" rel="group" href="images/igakun_02a.jpg" title="いがくんの行灯＠噴水前"><img src="images/igakun_02b.jpg" alt="いがくんの行灯＠噴水前"></a>
					<a class="fancybox" rel="group" href="images/igakun_03a.jpg" title="いがくんの行灯＠噴水前"><img src="images/igakun_03b.jpg" alt="いがくんの行灯＠噴水前"></a>
					<a class="fancybox" rel="group" href="images/igakun_04a.jpg" title="いがくんの行灯＠噴水前"><img src="images/igakun_04b.jpg" alt="いがくんの行灯＠噴水前"></a>
					<a class="fancybox" rel="group" href="images/igakun_05a.jpg" title="いがくんの看板＠医学部図書館前"><img src="images/igakun_05b.jpg" alt="いがくんの看板＠医学部図書館前"></a>
					<a class="fancybox" rel="group" href="images/igakun_06a.jpg" title="いがくんの看板＠医学部図書館前"><img src="images/igakun_06b.jpg" alt="いがくんの看板＠医学部図書館前"></a>
					<a class="fancybox" rel="group" href="images/igakun_07a.jpg" title="いがくんのうちわ（昨年のシールラリーの景品です）"><img src="images/igakun_07b.jpg" alt="いがくんのうちわ（昨年のシールラリーの景品）"></a>
					<a class="fancybox" rel="group" href="images/igakun_08a.jpg" title="いがくんと盲導犬"><img src="images/igakun_08b.jpg" alt="いがくんと盲導犬"></a>
					<a class="fancybox" rel="group" href="images/igakun_09a.jpg" title="いがくんと救急車"><img src="images/igakun_09b.jpg" alt="いがくんと救急車"></a>
					<a class="fancybox" rel="group" href="images/igakun_10a.jpg" title="いがくんと心電図"><img src="images/igakun_10b.jpg" alt="いがくんと心電図"></a>
					<a class="fancybox" rel="group" href="images/igakun_11a.jpg" title="いがくんと脳波"><img src="images/igakun_11b.jpg" alt="いがくんと脳波"></a>
					<a class="fancybox" rel="group" href="images/igakun_12a.jpg" title="昨年のシールラリー（今年はスランプラリーです）"><img src="images/igakun_12b.jpg" alt="昨年のシールラリー"></a>
				</p>
			</div>
		</section>
		<section class="col6 last">
			<div class="igakun_pr">
				<h3>いがくんのプロフィール</h3>
				<dl>
					<dt>ニックネーム</dt><dd>いがくん</dd>
					<dt>誕生日</dt><dd>2013年6月8日</dd>
					<dt>年齢</dt><dd>今年1歳になります</dd>
					<dt>友達</dt><dd>ふっとう君、ネギちゃん</dd>
					<dt>好きな食べ物</dt><dd>ミラクルフルーツ、ギムネマ茶、トマト</dd>
					<dt>好きな花</dt><dd>すずらん</dd>
					<dt>好きな歌詞</dt><dd>信じたい</dd>
					<dt>好きな映画</dt><dd>もらとりあむタマ子</dd>
					<dt>チャームポイント</dt><dd>こころ</dd>
					<dt>得意な教科</dt><dd>医学</dd>
					<dt>夢</dt><dd>みんなと北大医学部をつなぐこと</dd>
				</dl>
			</div>
		</section>
	</article>
