	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;マスコット</span>
	</div>

	<article class="onerow">
		<section class="col12">
			<div class="igakun">
				<p><img src="images/igakun60x76.png" alt="いがくん">「いがくん」は昨年の第52回医学展で生まれました。<br>今年も、皆様と北大医学部をつなぐため、たくさん活躍します！<br>医学展で色々な「いがくん」と出会いましょう！</p>
			</div>
		</section>
	</article>

	<article class="onerow">
		<section class="col6">
			<div class="igakun_pr">
				<h3>1年前のまだ幼いいがくん</h3>
				<ul class="rslides">
					<li><img src="images/igakun01.jpg" alt="いがくんの行灯1"></li>
					<li><img src="images/igakun02.jpg" alt="いがくんの行灯2"></li>
					<li><img src="images/igakun03.jpg" alt="いがくんの行灯3"></li>
					<li><img src="images/igakun04.jpg" alt="いがくんの看板1"></li>
					<li><img src="images/igakun05.jpg" alt="いがくんの看板2"></li>
					<li><img src="images/igakun06.jpg" alt="パンフレットの裏"></li>
					<li><img src="images/igakun07.jpg" alt="うちわの表"></li>
					<li><img src="images/igakun08.jpg" alt="うちわの裏"></li>
					<li><img src="images/igakun09.jpg" alt="いがくんと盲導犬"></li>
					<li><img src="images/igakun10.jpg" alt="いがくんと救急車"></li>
					<li><img src="images/igakun11.jpg" alt="いがくんと心電図"></li>
					<li><img src="images/igakun12.jpg" alt="いがくんと脳波"></li>
					<li><img src="images/igakun13.jpg" alt="いがくんのシール台紙"></li>
					<li><img src="images/igakun14.jpg" alt="いがくんからプレゼント"></li>
				</ul>
			</div>
		</section>
		<section class="col6 last">
			<div class="igakun_pr">
				<h3>いがくんのプロフィール</h3>
				<dl>
					<dt>ニックネーム</dt><dd>いがくん</dd>
					<dt>誕生日</dt><dd>2013年6月8日</dd>
					<dt>年齢</dt><dd>今年1歳になります</dd>
					<dt>友達</dt><dd>ふっとう君、ネギちゃん</dd>
					<dt>好きな食べ物</dt><dd>ミラクルフルーツ、ギムネマ茶、トマト</dd>
					<dt>好きな花</dt><dd>すずらん</dd>
					<dt>好きな歌詞</dt><dd>信じたい</dd>
					<dt>好きな映画</dt><dd>もらとりあむタマ子</dd>
					<dt>チャームポイント</dt><dd>こころ</dd>
					<dt>得意な教科</dt><dd>医学</dd>
					<dt>夢</dt><dd>みんなと北大医学部をつなぐこと</dd>
				</dl>
			</div>
		</section>
	</article>

<script>
$(".rslides").responsiveSlides({
  auto: true,             // Boolean: Animate automatically, true or false
  speed: 500,            // Integer: Speed of the transition, in milliseconds
  timeout: 3000,          // Integer: Time between slide transitions, in milliseconds
  pager: true,           // Boolean: Show pager, true or false
  nav: false,             // Boolean: Show navigation, true or false
  random: false,          // Boolean: Randomize the order of the slides, true or false
  pause: false,           // Boolean: Pause on hover, true or false
  pauseControls: true,    // Boolean: Pause when hovering controls, true or false
  prevText: "Previous",   // String: Text for the "previous" button
  nextText: "Next",       // String: Text for the "next" button
  maxwidth: "490",           // Integer: Max-width of the slideshow, in pixels
  navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
  manualControls: "",     // Selector: Declare custom pager navigation
  namespace: "rslides",   // String: Change the default namespace used
  before: function(){},   // Function: Before callback
  after: function(){}     // Function: After callback
});
</script>
