	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;講演会情報</span>
	</div>

	<article class="onerow">
		<section class="col12" id="lecture_abstract">
			<h1><img src="images/lecture.jpg" alt="田中教授 無料講演会"></h1>
			<h2>「医の知をもって、がんを制す」（仮タイトル）</h2>
			<p>世界最新の知見を分かりやすく伝える出張版『がんの教室』を開講！<br>ついに実用化！北大医学部が最先端を行く陽子線治療とは？<br>がんの基礎から最新トピックまでわかりやすくお伝えします！</p>
		</section>
	</article>

	<article class="onerow">
		<section class="col6">
			<div class="lecture_pr">
				<h3>ご予約について</h3>
				<p>5月中旬よりご予約を受け付けます。当日席もございますが、大変な混雑が予想されますので、ぜひご予約くださいませ。</p>
				<p>予約の開始日および詳細に関しましては、決定次第、当サイト上で発表いたします。</p>
			</div>
			<div class="lecture_pr">
				<h3>プログラム</h3>
				<dl>
					<dt>【会場】</dt>
					<dd>北海道大学医学部フラテ会館 1階 フラテ大ホール</dd>
					<dt>【日時】</dt>
					<dd>2014年6月8日（日）</dd>
					<dd><span class="time">13：30</span>開場</dd>
					<dd><span class="time">14：00～15：00</span>講演会</dd>
					<dd><span class="time">15：00～15：20</span>質疑応答</dd>
					<dt>【入場料】</dt>
					<dd>無料</dd>
				<dl>
			</div>
		</section>
		<section class="col6 last">
			<div class="lecture_pr">
				<h3>田中伸哉教授プロフィール</h3>
				<p><img src="images/profile.jpg" alt="">札幌市出身。札幌北高卒。1990年3月北大医学部を卒業後、ただちに長嶋教授の主宰する北大医学部病理学第二講座に入局。1年間の外科病理研修の後に、国立感染研に国内留学し、松田道行先生（東大病理学教室出身、現京都大学教授）に実験の手ほどきをうける。1年後には北大に戻り、外科病理学の研鑽を継続するとともに、細胞内情報伝達系の研究を行い、新しい遺伝子を単離しチロシンキナーゼからRasへの主要シグナルを発見した。この経路は現在の癌治療薬のメインの標的である。大学院終了後は助手。1994年から3年間ロックフェラー大学花房秀三郎教授のもとに留学し、癌遺伝子研究の基本を学ぶ。2000年北大講師。2002年に同助教授、2008年5月より腫瘍病理学分野教授。10月より探索病理学講座（寄附講座）教授兼任。2002年日本癌学会奨励賞受賞、2003年日本病理学会奨励賞受賞。病理専門医、細胞診専門医、日本病理学会学術評議員、日本脳腫瘍病理学会理事、北大医学部同窓会理事。趣味は、スキー、バイオリン、音楽鑑賞、学生さんと飲みに行くこと。最近はスポーツジム通いを楽しみとしている。現在の研究の方向性としては、トランスレーショナルパソロジー（橋渡し病理学）として基礎研究の成果をいち早く臨床にフィードバックすることをめざしている。</p>
				<dl>
					<dt>【主な連載】</dt>
					<dd><a href="http://www.hokkaido-np.co.jp/cont/health_news_gan/" target="_blank">『がんの教室』（北海道新聞）</a></dd>
					<dt>【主な講演活動】</dt>
					<dd>札幌北高等学校ほか多数</dd>
				<dl>
			</div>
		</section>
	</article>
