	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;ご挨拶</span>
	</div>

	<article class="onerow">
		<section class="col12">
			<div class="message-wrapper">
				<h1>（注：これは仮の文章です）<br>第53回医学展へようこそ</h1>
				<h2 class="name">北海道大学　医学部長<br>笠原　正典</h2>
				<p>このたびは第53回医学展オフィシャルサイトをご覧になってくださり、ありがとうございます。医学展は本学の医学生が中心になって企画・運営を行っている行事です。1962年に第1回の医学展が開催されて以来、毎年休むことなく続けられ、今日に至っています。北大祭の企画としても定着し、その知名度も高く、毎年3,000名を超える市民の方々にご参加いただいています。</p>
				<p>医学展の目的は、大きく二つあります。一つは、市民の方々に医学部を訪問していただき、医学生の教育環境や日頃の学習成果を知っていただくことです。二つ目は、市民の方々との交流を通じて、社会が医学・医療そして医師に何を求めているのかを医学生に考えさせる機会を与えることにあります。</p>
				<p>第53回医学展がこれもだの医学展と同じく有意義な回となりますことを願っております。市民の皆様には、医学生との交流を通して、医学・医療に対するご理解を深め、健康管理の重要性をこれまで以上に認識していただければ幸いに存じます。最後に、本医学展の企画・運営に携わった学生諸君の労を多とするとともに、関係各位のご協力、ご支援に御礼申し上げます。</p>
			</div>
		</section>
		<section class="col12">
			<div class="message-wrapper">
				<h1>（注：これは仮の文章です）<br>セブンスコード</h1>
				<h2 class="name">第53回医学展　実行委員長<br>亀野　力哉</h2>
				<p>みなさん、こんにちは(((o(*ﾟ▽ﾟ*)o)))</p>
				<p>音楽で四和音のことを「セブンスコード」と呼ぶことがあります。ささやかな響きでありながら、心に残る不思議で魅力あふれる音です。当サイトでは、「セブンスコード」をイメージコンセプトとして、皆様に満足して頂けるよう制作してまいりました。力及ばずなところも多々あると存じますが、もし、ほんの少しでも、医学展にご興味を持っていただけましたならば、ぜひ医学展に来てください。皆様とお会いできる日を、スタッフ一同、心よりお待ちしております。</p>
			</div>
		</section>
	</article>
