<div id="breadcrumb" class="onerow">
  <span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;ご挨拶</span>
</div>

<article class="onerow">
	<sction class="col6">
		<div class="message-wrapper">
				<h3><img src="images/igakubucho.jpg" alt=""></h3>
				<h2 class="name">北海道大学　医学部長<br><img src="images/kasa.gif" alt=""></h2>
				<h1>第５３回医学展へようこそ<br>&emsp;</h1>
				<p>このたびは第５３回医学展にお越しいただき、ありがとうございます。医学展は本学部の医学生が中心になって企画・運営を行っている行事です。１９６２年に第１回の医学展が開催されて以来、毎年休むことなく続けられ、今日に至っています。北大祭の企画としても定着し、知名度も高く、毎年３,０００名を超える市民の方々にご参加いただいております。</p>
				<p>医学展の目的は、大きく二つあります。一つは、市民の方々に医学部を訪問していただき、医学生の教育環境や日頃の学習成果を知っていただくことです。二つ目は、市民の方々との交流を通じて、社会が医学・医療そして医師に何を求めているのかを医学生に考えさせる機会を与えることであります。</p>
				<p>今年の医学展のテーマは、『輪を広げよう』です。来場される皆様と医学生との交流、医学展の企画・運営にあたる学生同士の交流を通じて、人の『輪』や健康の『輪』が広がっていくことを期待しています。</p>
				<p>第５３回医学展が有意義な会となりますことを願っています。市民の皆様には、医学生との交流を通して、医学・医療に対する理解を深め、健康管理の重要性をこれまで以上に認識していただければ幸いに存じます。本医学展の企画・運営に携わった学生諸君の努力に敬意を表しますとともに、関係各位のご協力、ご支援に御礼申し上げます。</p>
			</div>
		</section>
	<section class="col6 last">
			<div class="message-wrapper">
				<h3><img src="images/tencho.jpg" alt=""></h3>
				<h2 class="name">第53回医学展　実行委員長<br><img src="images/kame.gif" alt=""></h2>
				<h1>実行委員長よりホームページをご覧の皆様へ</h1>
				<p>皆様、北大医学展ホームページにお越しいただき、誠にありがとうございます。医学展は北大祭の各祭の一つとして北海道大学医学部の学生有志によって運営・実施されており、今年度で第53回目を迎えます。</p>
				<p>昭和３７年の第４回北大祭参加時には医学祭と称していましたが、そのテーマは「大学と社会」でありました。大学やその中で行われている教育・学問が社会の評価、あるいは社会への還元によって初めて成り立ち得るという関係に着目したとき、医学展は学生が自らのアイデンティティを確認できる数少ない機会であると考え、当時の医学科、薬学科、看護学校、X線技師学校とともにこの統一テーマを掲げたのです。</p>
				<p>この基本的な理念は今も全く変わることがありません。膨大な量の勉強やテストをこなしているうちに忘れがちな“あるべき姿”、“社会に求められている姿”を再確認する場として医学展は連綿とその歴史を続けることが出来ています。</p>
				<p>本年度のテーマ「輪を広げよう」は、そのような大学と社会のつながりを医学生と来場者の皆様のふれあい（＝輪）に置き換えたとき、医学展で得た体験や知識を家族や友人に伝えたり、自らの健康増進に生かしたりすることで、より多くの人々の幸せに繋がってほしいという願いが含まれたテーマであります。</p>
				<p>未熟ではございますが、医学生一同心血を注いで準備いたしましたので、皆様と会場でお会いできることを心よりお待ち申し上げております。</p>
			</div>
		</section>
</article>
