	<div id="breadcrumb" class="onerow">
		<span class="col12"><a href="index.html">トップページ</a>&ensp;＞&thinsp;協賛団体</span>
	</div>

	<article class="onerow">
				<section class="col12 appreciation">
			<h1>協賛団体様御一覧（敬称略、順不同）</h1>
		</section>
	</article>

	<article class="onerow">
		<section class="col4">
			<div class="supporter"><a href="http://www.hokkaido.med.or.jp/" target="_blank">北海道医師会</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.spmed.jp/" target="_blank">札幌市医師会</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter"><a href="http://www.top-work.jp/ima/" target="_blank">岩見沢市医師会</a></div>
		</section>
		<section class="col4">
			<div class="supporter">恵庭市医師会</div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.hokkaido.med.or.jp/ebetsu/" target="_blank">江別医師会</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter"><a href="http://www.hokkaido.med.or.jp/otaru/" target="_blank">小樽市医師会</a></div>
		</section>
		<section class="col4">
			<div class="supporter">空知医師会</div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.caeser.or.jp/takimed/" target="_blank">滝川市医師会</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter">千歳医師会</div>
		</section>
		<section class="col4">
			<div class="supporter">十勝医師会</div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.toma-med.or.jp/" target="_blank">苫小牧市医師会</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter">深川医師会</div>
		</section>
		<section class="col4">
			<div class="supporter">三笠市医師会</div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.hokkaido.med.or.jp/muroran/" target="_blank">室蘭市医師会</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter">紋別医師会</div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.hokkaido.med.or.jp/yoichi/" target="_blank">余市医師会</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.oguro-hp.jp/" target="_blank">大黒胃腸内科病院</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter"><a href="http://www.ohtsuka-eye.com/" target="_blank">大塚眼科病院</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.kashiwaba-nougeka.or.jp/" target="_blank">柏葉脳神経外科病院</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.kin-ikyo-chuo.jp/" target="_blank">勤医協中央病院</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter"><a href="http://www.sops.co.jp/" target="_blank">株式会社札幌義肢製作所</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www2.satutoku.jp/" target="_blank">札幌徳洲会病院</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.jibiazabu.or.jp/azabu/" target="_blank">耳鼻咽喉科麻生病院</a></div>
		</section>
		<section class="col4 last">
			<div class="supporter"><a href="http://www.lovely.jp/tsuchida-clinic/" target="_blank">つちだ循環器消化器内科</a></div>
		</section>
		<section class="col4">
			<div class="supporter"><a href="http://www.matsuda-oh.com/" target="_blank">松田整形外科記念病院</a></div>
		</section>
		<section class="col4">
		</section>
		<section class="col4 last">
		</section>
	</article>

	<article class="onerow">
		<section class="col12 appreciation">
			<p>以上25団体様<p>
		</section>
	</article>
